* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	line-height: 1.8;
	color: #fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-info {
	background-color: rgb(100, 73, 110);
	padding: 1rem;
	border-radius: 1rem;
}

.text-title {
	font-size: 2.2rem;
	letter-spacing: 0.1rem;
	text-align: right;
	margin-bottom: 3rem;
}

.text-para {
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.3rem;
	text-align: center;
}

.text-date {
	text-align: center;
	margin: 0.5rem 0;
}

.date-text {
	display: inline-block;
	width: 4rem;
	font-size: 0.8rem;
	line-height: 1.2;
	letter-spacing: 0.1rem;
}

.date-num {
	display: inline-block;
	font-size: 1.5rem;
}

.name {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
