* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	width: 100vw;
	height: 100vh;
	font-size: 1.8rem;
}

.file-list {
	width: 45rem;
	margin: 0 auto;
	border: 0.1rem solid #ddd;
}

.file-list-item {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	border-bottom: 0.1rem solid #ddd;
	padding: 0.4rem 0.2rem;
}

.file-list-item:last-child {
	border-bottom: none;
}

.file-icon {
	display: inline-block;
	margin-right: 0.5rem;
}
.file-icon i {
	color: #508fca;
}

.age {
	justify-self: end;
}
